.card-rate__form {
  margin: 0 auto;
  width: 500px;
}

.card-rate__header {
  text-align: center;
}

.card-rate__title {
}

.card-rate__description {
  max-width: 500px;
  margin: 0px;
  height: 135px;
}

.card-rate__dates {
  border: 1px solid;
  margin-top: 5px;
  padding-bottom: 5px;
}

.card-rate_date {
  margin: 5px 0 0 5px
}
