.login_form {
  margin: 5px;
}

.login_title {
  text-align: center;
}

.login__label {
  display: block;
  margin-top: 15px;
}
.login__label-value {
  margin-top: 5px;
  display: block;
}

.login__input {
  width: 100%;
  padding-left: 10px;
  height: 30px;
  border: 0.5px solid;
}

.login__btn-group {
  margin-top: 20px;
}

.login__btn {
  min-width: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.login__age {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr
}
.login__age > label {
  width: 105px;
}
