.party {
  border: 1px solid;
}

.party__header {

}

.party_title {
  padding-left: 5px;
}

.party__content {
  margin-top: 5px;
}

.party__list {
}


.party_itm {
  border-top: 1px solid;
  margin: 5px 0 0 5px;
}

.party_description {
  width: 300px;
}
